/* // apologies for the overuse of !important, made direct changes to the css of certain components */

.headers {
  font-weight: bold;
}

.personProfile {
  display: flex !important;
  flex-direction: row !important;
}
.profileContainer {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  margin: auto !important;
  height: 200px !important;
  width: auto !important;
}
/* .profile {
  flex-direction: row !important;
} */
.end {
  justify-content: end !important;
  margin-top: 15px;
  margin-left: 95%;
  margin-bottom: 15px;
}
.close {
}
.close:hover {
  color: #999 !important;
}
.companyHeader {
  display: block !important;
  font-size: 1.5rem !important;
  color: rgb(0, 0, 0) !important;
  /* margin-bottom: 5px; */
  font-weight: bold !important;
  font-family: "Aesop" !important;
}

.personSub {
  /* display: block !important; */
  font-size: 1.3rem !important;
  color: #999 !important;
  font-family: "Aesop" !important;
}
.productHead {
  /* display: block !important; */
  font-size: 1.1rem !important;
  color: #999 !important;
  font-family: "Aesop" !important;
}
.productSub {
  /* display: block !important; */
  font-size: 1.2rem !important;
  color: rgb(0, 0, 0) !important;
  font-family: "Aesop" !important;
  font-weight: bold !important;
}
.tableSub {
  /* display: block !important; */
  font-size: 1.3rem !important;
  color: rgb(0, 0, 0) !important;
  font-family: "Aesop" !important;
  font-weight: bold !important;

  /* border-right: 1px solid #eee !important; */
}
/* .SingleApplication_cellEnd__5xM1G {
  text-align: left;
  border-right: 0px solid #eee !important;
  padding: 0 15px;
  font-weight: bold;
} */
